;; edn spec https://github.com/edn-format/edn
{;;;; define things

 ;; define application identifiers
 :applications {
    :crossover[
        :identifiers
        "^com\\.codeweavers\\.CrossOver\\.wineloader"
        :paths 
        "^\\/Applications\\/CrossOver\\.app\\/Contents\\/SharedSupport\\/CrossOver\\/CrossOver-Hosted Application\\/wine64-preloader"
    ]
 }
 
 :input-sources {
    :us {
        :input_mode_id ""
        :input_source_id "com.apple.keylayout.US"
        :language "en"
    }
 }

 :main  [
    {  
        :des "wasd to arrows"
        :rules [
            :crossover
            [:w :up_arrow]
            [:s :down_arrow]
            [:a :left_arrow]
            [:d :right_arrow]
        ]
    }
 ]
}