#!/bin/sh

# ---------------------------------------------------------------------------- #
#                          Unofficial Bash Strict Mode                         #
# ---------------------------------------------------------------------------- #
# See http://redsymbol.net/articles/unofficial-bash-strict-mode/
# -e: exit on error
# -u: exit on unset variables
# -o pipefail: prevents errors in a pipeline from being masked 
set -euo pipefail
# IFS (Internal Field Separator): controls what Bash calls word splitting.
# When set to a string, each character in the string is considered by Bash to separate words
IFS=$'\n\t'

# ---------------------------------------------------------------------------- #
#                                     Logs                                     #
# ---------------------------------------------------------------------------- #
log_color() {
    wait
    color_code="$1"
    shift
    printf "\033[${color_code}m%s\033[0m\n" "$*" >&2
}
# -------------------------------- Log colours ------------------------------- #
log_blue() { log_color "0;34" "$@" ; }
log_green() { log_color "0;32" "$@" ; }
log_orange() { log_color "0;33" "$@" ; }
log_red() { log_color "0;31" "$@" ; }
# --------------------------------- Log state -------------------------------- #
log_error() { log_red "❌ $@" ; }
log_success() { log_green "✅ $@" ; }
log_task() { log_blue "🔃 $@" ; }
log_warning() { log_orange "⚠️ $@" ; }
# ---------------------------- Log exit functions ---------------------------- #
error() { log_error "$@" ; exit 1 ; }
success() { log_success "$@" ; exit 0 ; }

# ---------------------------------------------------------------------------- #
#                                    Script                                    #
# ---------------------------------------------------------------------------- #
log_task "[VSCode] Setup"

# ---------------------------------------------------------------------------- #
#                           Install VSCode extensions                          #
# ---------------------------------------------------------------------------- #
{{ if eq .chezmoi.os "darwin" "linux" -}}
    {{ $extensions := list
        "aaron-bond.better-comments"
        "alefragnani.project-manager"
        "artdiniz.quitcontrol-vscode"
        "bungcip.better-toml"
        "christian-kohler.npm-intellisense"
        "christian-kohler.path-intellisense"
        "davidanson.vscode-markdownlint"
        "dbaeumer.vscode-eslint"
        "tamasfe.even-better-toml"
        "dsznajder.es7-react-js-snippets"
        "eamodio.gitlens"
        "ecmel.vscode-html-css"
        "esbenp.prettier-vscode"
        "foxundermoon.shell-format"
        "Gruntfuggly.todo-tree"
        "hediet.vscode-drawio"
        "jock.svg"
        "meganrogge.template-string-converter"
        "mgmcdermott.vscode-language-babel"
        "mikeburgh.xml-format"
        "mikestead.dotenv"
        "ms-python.python"
        "ms-vscode-remote.remote-ssh"
        "ms-vscode.remote-explorer"
        "ms-vsliveshare.vsliveshare"
        "oouo-diogo-perdigao.docthis"
        "PKief.material-icon-theme"
        "rbbit.typescript-hero"
        "redhat.vscode-yaml"
        "richie5um2.vscode-sort-json"
        "ryuta46.multi-command"
        "shd101wyy.markdown-preview-enhanced"
        "stackbreak.comment-divider"
        "stkb.rewrap"
        "tamasfe.even-better-toml"
        "tomoki1207.pdf"
        "Tyriar.sort-lines"
        "vscodevim.vim"
        "wayou.vscode-todo-highlight"
        "yzane.markdown-pdf"
        "yzhang.markdown-all-in-one"
        "zhuangtongfa.material-theme"
    -}}

    {{ range $extensions -}}
        code --force --install-extension {{ . }}
    {{ end -}}
{{ end -}}

log_success "[VSCode] Done"