#!/bin/sh

# ---------------------------------------------------------------------------- #
#                          Unofficial Bash Strict Mode                         #
# ---------------------------------------------------------------------------- #
# See http://redsymbol.net/articles/unofficial-bash-strict-mode/
# -e: exit on error
# -u: exit on unset variables
# -o pipefail: prevents errors in a pipeline from being masked 
set -euo pipefail
# IFS (Internal Field Separator): controls what Bash calls word splitting.
# When set to a string, each character in the string is considered by Bash to separate words
IFS=$'\n\t'

# ---------------------------------------------------------------------------- #
#                                     Logs                                     #
# ---------------------------------------------------------------------------- #
log_color() {
    wait
    color_code="$1"
    shift
    printf "\033[${color_code}m%s\033[0m\n" "$*" >&2
}
# -------------------------------- Log colours ------------------------------- #
log_blue() { log_color "0;34" "$@" ; }
log_green() { log_color "0;32" "$@" ; }
log_orange() { log_color "0;33" "$@" ; }
log_red() { log_color "0;31" "$@" ; }
# --------------------------------- Log state -------------------------------- #
log_error() { log_red "❌ $@" ; }
log_success() { log_green "✅ $@" ; }
log_task() { log_blue "🔃 $@" ; }
log_warning() { log_orange "⚠️ $@" ; }
# ---------------------------- Log exit functions ---------------------------- #
error() { log_error "$@" ; exit 1 ; }
success() { log_success "$@" ; exit 0 ; }

# ---------------------------------------------------------------------------- #
#                                    Script                                    #
# ---------------------------------------------------------------------------- #
log_task "[Github] SETUP"

# ---------------------------------------------------------------------------- #
#                          Clone project repositories                          #
# ---------------------------------------------------------------------------- #
log_task "[Github] Clone Nos Futurs repos"
mkdir -p ~/{{ .nf_dev_dir }} && cd ~/{{ .nf_dev_dir }}
if [ ! -d "showcase" ]; then
    git clone --recurse-submodules git@github.com:Nos-Futurs/showcase.git
fi
if [ ! -d "lib-web-ui" ]; then
    git clone git@github.com:Nos-Futurs/lib-web-ui.git
fi
log_success "[Github] Nos Futurs repos cloned"

log_success "[Github] DONE"
