{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Camille’s MacBook Pro" -}}
{{-     $hostname = "camille-mbp" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- $personal := promptBool "Is this a personal computer? (y/n)" false -}}
{{- $op_email := promptString "Email address used with 1password" }}
{{- $op_domain := promptString "Domain used with 1password" }}
{{- $op_secret := promptString "Your 1password secret (NOT password)" }}

[data]
    hostname = {{ $hostname | quote }}
    op_domain = {{ $op_domain | quote }}
    op_email = {{ $op_email | quote }}
    op_secret = {{ $op_secret | quote }}
    personal = {{ $personal }}