# Homebrew
{{ if eq .chezmoi.os "darwin" }}
# Add homebrew bundle file location to path
export HOMEBREW_BUNDLE_FILE="$HOME/.config/homebrew/Brewfile"
# export HOMEBREW_BUNDLE_FILE="$HOME/.config/homebrew/Brewfile_{{ output "scutil" "--get" "ComputerName" | trim }}"
# Add homebrew to path
path=(/opt/homebrew/bin $path)
path=(/opt/homebrew/sbin $path)
{{- end }}

# Add bun executables to path
path=("$HOME/.bun/bin" $path)

# CARGO
source "$HOME/.cargo/env"
# Local binaries
path=(~/.local/bin $path)
# NVM
export NVM_DIR="$HOME/.nvm"
